name: CI / CD avec tests conditionnels

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    name: Tests Jest
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Installer les dépendances
        run: npm install

      - name: Lancer les tests
        run: npm test

  deploy:
    name: Déploiement GitHub Pages
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Configurer GitHub Pages
        uses: actions/configure-pages@v4

      - name: Uploader les fichiers
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Déployer sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Attendre que le site soit prêt
        run: sleep 30

      - name: Vérifier que le restaurant est ouvert
        run: |
          curl --fail https://mandresy-ricco.github.io/le39-victorRicco/index.html || exit 1
          echo "Le restaurant est ouvert !"
            - name: Notification de livraison

      - name: Notification de livraison
        run: |
          echo "Livraison effectuée avec succès"
          echo "URL du site https://mandresy-ricco.github.io/le39-victorRicco/index.html"
          echo "Date du déploiement $(date -u)"
          echo "Déployé par  ${{ github.actor }}"
          echo "Commit  ${{ github.sha }}"
          echo "Message du commit  ${{ github.event.head_commit.message }}"
          echo "Branche  ${{ github.ref_name }}"


